
#search-field{
    height: 36px;
    width: 370px;
}
.btn-signin{
    color: #0070eb;
    border-color: rgba(67,41,163,.2);
    font-size: 13px;
    font-family: bold;
}
.border-color{
    border-color: rgba(67,41,163,.2);
    border-style: solid;
    border-width: 1px;
    
}
.star-color{
    color: #0070eb;
}
.star{
    color: #F4AF30;
}

.top-shadow{
    box-shadow: 0 0 0 1px rgba(67,41,163,.1), 0 1px 8px 0 rgba(67,41,163,.1);
}
.cuisine{
    font-size: 12px;
    color: #6b6b83;
}
.text-sm{
    color: #000;
}
.loai-mon{
    width: 119px;
    height: 119px;
    border-radius: 50%;
    margin: 0px 20.5px
}
.cuisine-m{
    margin-bottom: 8px;
    
}
.box-p{
    padding: 12px 16px;
}
.unit{
    height: 115px;
    padding: 12px 0px 10px 24px;
}
.filter-m{
    margin-bottom: 35px;
}
.logo{
    width: 80px;
    max-height: 80px;
}
.border-logo{
    box-shadow:  0 0 0 1px rgba(67,41,163,.08), 0 1px 5px 0 rgba(67,41,163,.08);
    margin-top: -46px;
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 3px;
    background-color: #fff;
}
.menu-page{
    border-bottom: 3px solid #0070eb;
    padding: 10px 0;
    font-size: 15.4px;
}
.menu-margin{
    margin-right: 15px;
}
.top-menu{
    height: 127px; 
    width: 520px; 
    background-image: url(assets/img/dish/k9huj4yovzyd7lofwdkf.webp); 
    background-position: 50%;
    background-size: cover; 
    background-repeat: no-repeat; 
    border-radius : 3px;
}
.box-cost{
    margin: 10px;
    padding: 5px;
    background-color: hsla(0,0%,100%,.75);
    border-radius: 3px;
    font-size: 15.4px;
    color: #000;
}
.bag-body {
    padding: 30px;
}

.bag-empty-text {
    font-size: 24px;
    padding: 16px 0px;
    color: #8f8fa1;
}
.quantity-text {
    font-weight: bold;
    margin-right: 16px;
}

.share-border {
    border-bottom: 1px solid #d4d4db;
    padding: 12px 16px;
}

.icon-margin {
    font-size: 18px;
    margin-right: 12px;
}

.share-text {
    color: #0070eb;
    font-size: 14px;
}
.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    margin-bottom: 3rem;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: 19px;
}

.number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
}

.number-input.number-input button.minus {
    padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
}

.number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {

        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after {
            margin-top: -.3rem;
        }
    }
}

.dollar-color{
    color: #d4d4db;
}
.map-google{
    width: 518px;
    background-repeat: no-repeat;
    height: 100px;
    background-image: url("https://maps.googleapis.com/maps/api/staticmap?size=518x100&center=40.719342,-74.010123&zoom=15&style=feature:poi%7Cvisibility:off&markers=size:mid%7Ccolor:red%7C40.719342,-74.010123&client=gme-grubhubinc&signature=yNhDggtqaDxWm0JjSYcH4zT-1LQ");
}
.border-bottom{
    border-bottom: 1px solid rgba(67,41,163,.2);
}
.border-bottom-2{
    border-bottom: 2px solid #8f8fa1;
}
.category-text{
    font-size: 14px;
}
.text-span{
    font-size: 12px;
}

.popover-body{
    width: 300px;
    height: 280px;
}
.button-padding{
    padding: 10px;
}
.star-size{
    font-size: 20px;
}
@media (max-width: 992px){
    .star-size{
        font-size: 12px;
    }
}

@media (max-width: 768px){
    .respon-height{
        height: 120px;
    }
}
@media (max-width: 576px){
    .respon-height{
        height: 166px;
    }
}
.star-die{
    color: #8f8fa1;
}